.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;
  grid-template-columns: repeat(1, $card-width);

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @include media (488px, 2, $card-width);
  @include media (768px, 3, $card-width);
  @include media (1024px, 4, $card-width);
}
